{% include 'header.html' %}
{% load static %}
    <!-- page header -->
    <header id="home" class="header new-header">
        <div class="overlay"></div>
        <div class="header-content container">
            <h1 class="header-title">
                <span class="up">HI!</span>
                <span class="down">I am Bijay</span>
            </h1>
            <p class="header-subtitle">BACKEND WEB DEVELOPER</p>            
                <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary new-home-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
       Visit My work
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">My Pojects</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Right now I have not publish my work but you can visit in my github.
            
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary"><a target="_blank" href="https://github.com/BJaySPR?tab=repositories" style="color: #fff;">Visit Github</a></button>
        </div>
      </div>
    </div>
  </div>
            </button>
        </div>              
    </header><!-- end of page header -->

    <!-- about section -->
    <section class="section pt-0" id="about" style="background:black;">
        <!-- container -->
        <div class="container text-center container-fluid" >
            <!-- about wrapper -->
            <div class="about">
                <div class="about-img-holder ">
                    
                    <img src="{% static 'assets/imgs/man.png' %}" class="about-img" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">

                </div>
                <div class="about-caption">
                    <p class="section-subtitle" style="color: #fff; padding: 1%;">Who Am I ?</p>
                    <h2 class="section-title mb-3">About Me</h2>
                    <p style="color: white;">                        
                        My journey into backend development began with a passion for problem-solving and a keen interest in programming. I honed my skills through self-learning, online courses, and practical projects, gradually transitioning into professional development roles. <br>   
                        I am adept at database management, utilizing technologies like MySQL, or SQLite to efficiently store and retrieve data. I also familiar with the  html and css, basically I am like FullStuck develoer, mostly my focus is in backend.
                    </p>
                    <button class="btn-rounded btn btn-outline-primary mt-4"><a href="{% static 'my-CV/Bijay-CV.docx' %}" download="{% static 'my-CV/Bijay-CV.docx' %}">Download CV</a></button>
                </div>              
            </div><!-- end of about wrapper -->
        </div><!-- end of container -->
    </section> <!-- end of about section -->

    <!-- service section -->
    <section class="section" id="service"> 
        <div class="container text-center">
            <p class="section-subtitle" style="color: #fff; padding: 1%;">What I Do ?</p>
            <h6 class="section-title mb-6">Service</h6>
            <!-- row -->
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="{% static 'assets/imgs/pencil-case.svg' %}" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page" class="icon">
                            <h6 class="title">Coaching</h6>
                            <p class="subtitle" style="color: #fff;">Recently I haven't done any Coaching but I have experience on Real world Projects</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="{% static 'assets/imgs/responsive.svg' %}" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page" class="icon">
                            <h6 class="title">Knowledge</h6>
                            <p class="subtitle" style="color: #ffff;">I am skilled on the python  with django and  learned HTML & CSS as well, I am Certified as Django webframe Developer.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="{% static 'assets/imgs/toolbox.svg' %}" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page" class="icon">
                            <h6 class="title">What Can I Do</h6>
                            <p class="subtitle" style="color: #fff;">I'm High lavel FullStuck Developer in python Webframe. <br> I can Build Software and application your company</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="{% static 'assets/imgs/analytics.svg' %}" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page" class="icon">
                            <h6 class="title">Work On</h6>
                            <p class="subtitle" style="color: #ffff;">Right now I haven't work with the company. likely..</p>
                        </div>
                    </div>
                </div>
            </div><!-- end of row -->
        </div>
    </section><!-- end of service section -->

    <!-- portfolio section -->
    <section class="section" id="portfolio">
        <div class="container text-center">
            <p class="section-subtitle" style="color: #fff; padding: 1%;">What I Did ?</p>
            <h6 class="section-title mb-6">Projects</h6>
            <!-- row -->
            <div class="row">
                <!-- proj 1 -->
                <div class="col-md-4">
                    <a href="https://github.com/BJaySPR/Weather-Application" target="_blank" class="portfolio-card">
                        <img src="{% static 'assets/imgs/weather.jpg' %}" height="240px" class="portfolio-card-img" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">    
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Weather For Casting</h5>
                                <p class="font-weight-normal">Category: Web Templates</p>
                            </span>                         
                        </span>                     
                    </a>
                </div>
                <!-- proj 2 -->
                <div class="col-md-4">
                    <a href="https://github.com/BJaySPR/MomosRestaurent" target="_blank" class="portfolio-card">
                        <img class="portfolio-card-img" height="240px" src="{% static 'assets/imgs/restauroent.jpg' %}" class="img-responsive rounded" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Restaurent Application</h5>
                                <p class="font-weight-normal">Category: WebSite & E-Business</p>
                            </span>                         
                        </span>                         
                    </a>
                </div>
                <!-- proj 3 -->
                <div class="col-md-4">
                    <a href="#" class="portfolio-card">
                        <img class="portfolio-card-img" src="{% static 'assets/imgs/web-design.jpg' %}" class="img-responsive rounded" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">    
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Task Manage</h5>
                                <p class="font-weight-normal">Category: Web Templates</p>
                            </span>                         
                        </span>                     
                    </a>
                </div>
            </div><!-- end of row -->
        </div><!-- end of container -->
    </section> <!-- end of portfolio section -->

    <!-- blog section -->
    <!-- <section class="section" id="blog">
         container 
        <div class="container text-center">
            <p class="section-subtitle" style="color: #fff;">Recent Posts?</p>
            <h6 class="section-title mb-6">Blog</h6>
            blog-wrapper -->
            <!-- <div class="blog-card"> -->
                <!-- <div class="blog-card-header">
                    <img src="{% static 'assets/imgs/img-1.jpg' %}" class="blog-card-img" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div> -->

                <!-- <div class="blog-card-body">
                    <h5 class="blog-card-title">Consectetur adipisicing elit</h6>

                    <p class="blog-card-caption">
                        <a href="#">By: Public Loves</a>
                        <a href="#"><i class="ti-heart text-danger"></i> 234</a>
                        <a href="#"><i class="ti-comment"></i> 123</a>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet nesciunt qui sit velit delectus voluptates, repellat ipsum culpa id deleniti. Rerum debitis facilis accusantium neque numquam mollitia modi quasi distinctio.</p>

                    <p><b>Necessitatibus nihil impedit! Ex nisi eveniet, dolor aliquid consequuntur repudiandae.</b></p>
                    <p>Magnam in repellat enim harum omnis aperiam! Explicabo illo, commodi, dolor blanditiis cupiditate harum nisi vero accusamus laudantium voluptatibus dolores quae obcaecati.</p>

                    <a href="#" class="blog-card-link">Read more <i class="ti-angle-double-right"></i></a>
                </div>
            </div> -->
            <!-- end of blog wrapper -->

            <!-- blog-wrapper -->
            <!-- <div class="blog-card">
                <div class="blog-card-header">
                    <img src="{% static 'assets/imgs/img-2.jpg' %}" class="blog-card-img" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
                </div>
                <div class="blog-card-body">
                    <h5 class="blog-card-title">Python With Django</h6>

                    <p class="blog-card-caption">
                        <a href="#">By: Bijay Tamang</a>
                        <a href="#"><i class="ti-heart text-danger"></i> 456</a>
                        <a href="#"><i class="ti-comment"></i> 264</a>
                    </p>
                    
                    <p>Right now I am learning python with django framework, I have been taking class. </p>

                    <a href="#about" class="blog-card-link">Read more <i class="ti-angle-double-right"></i></a>
                </div>
            </div>end of blog wrapper -->

        <!-- </div>end of container -->
    <!-- </section>end of blog section -->

    <!-- contact section -->
    <section class="section" id="contact">

        <div class="container text-center">
            <p class="section-subtitle" style="color: #fff; padding: 1%;">How can you communicate?</p>
            <h6 class="section-title mb-5">Drop Me an <a href="mailto:bijaytamang2310@gmail.com" style="color: orange;">Email</a></h6>
            <a href="tel:9806158068"><p class="section-subtitle" style="color: #fff; padding: 1%;">My WhapsApp Number is <br><i class="fa-brands fa-square-whatsapp fa-lg " style="color: #ffffff;"></i> 9806158068 </p></a>
            <!-- contact form -->
            <!-- <form action="{% url 'index' %}" id="fm" class="contact-form col-md-10 col-lg-8 m-auto" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <input type="text" size="50" name="name" class="form-control" placeholder="Your Name" required>                 
                    </div>
                    <div class="form-group col-sm-6">
                        <input type="email" name="email" class="form-control" placeholder="Enter Email"requried>                 
                    </div>
                    <div class="form-group col-sm-12">
                        <textarea name="comment" id="comment" rows="6"   class="form-control" placeholder="Write Something"></textarea>
                    </div>
                    <div class="form-group col-sm-12 mt-3">
                        <input type="submit" value="Send Message" class="btn btn-outline-primary rounded">                  
                    </div>
                </div>   -->
            <!-- </form>end of contact form -->
        <!-- </div> end of container -->
    <!--</section>end of contact section -->

{% include 'footer.html' %}
